[submodule "spot_micro_motion_cmd/libs/spot_micro_kinematics_cpp"]
	path = spot_micro_motion_cmd/libs/spot_micro_kinematics_cpp
	url = git@github.com:manglanisagar/spot_micro_kinematics_cpp.git
[submodule "ros-i2cpwmboard"]
	path = ros-i2cpwmboard
	url = git@github.com:manglanisagar/ros-i2cpwmboard.git
